@import url(./vendor/normalize.css);
@import url(./fonts/ibm-plex-sans/ibm-plex-sans.css);
@import url(./fonts/iceland/iceland.css);
@import url(./fonts/jet-brains-mono/jet-brains-mono.css);

.page {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'JetBrains Mono', Arial, sans-serif;
    background: #131316;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}