.container {
    width: 600px;
    margin-top: 90px;
    height: calc(100vh - 100px);
    background: #131316;
    position: relative;
}

.ingredients {
    width: 100%;
    height: calc(100% - 200px);
    overflow-y: auto;
    overflow-x: hidden;
}

